@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&family=Orbitron:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

body {
    font-family: "Noto Sans KR", sans-serif;
}

:root {
    --primary: #333333;
    --second: #5c5c5c;
}

.top .inner {
    height: 110px;
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    margin: 200px 0 100px;
}

.top {
    top: 110px;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 2;
    transition: height 0.5s, background-color 0.5s;
}
.top.on {
    background-color: rgba(255, 255, 255, 0.9);
    height: 80px;
}
.top .inner.on .nav li:after {
    background-color: var(--accent);
}

.top .inner.on .nav {
    color: var(--accent);
}

.logo {
    font-size: 40px;
}

.nav {
    display: flex;
    gap: 100px;
    font-size: 20px;
}
.nav li {
    position: relative;
    padding-bottom: 5px;
}
.nav li a {
    display: block;
    padding: 30px 10px;
}

.nav li::after {
    content: "";
    left: 0;
    bottom: 30px;
    width: 0;
    height: 5px;
    background-color: rgba(243, 112, 112, 0.6);
    position: absolute;
    transition: all 0.3s;
}
.nav li:hover:after {
    width: 100%;
}

.btn {
    font-size: 20px;
    color: var(--primary);
    width: 250px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background-color: none;
    border-radius: 33px;
    border: 2px solid #c9c9c9;
    margin-bottom: 27px;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #f37070;
    color: #fff;
    border: 1px solid transparent;
}

.pub_btn .btn_02 {
    width: 200px;
    height: 60px;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 60px;
}

/* reponsive */

@media (max-width: 768px) {
    .top .inner {
        width: 100%;
        height: initial;
        padding: 0 20px;
    }

    .top {
        height: 90px;
        width: 100%;
        position: fixed;
        display: flex;
        background-color: #fff;
        align-items: stretch;
    }
    .nav {
        font-size: 14px;
        gap: initial;
    }
    .nav li {
        margin: 0 auto;
    }
    .logo {
        font-size: 25px;
        padding-bottom: 15px;
    }

    .top_h2 {
        font-size: 30px;
        margin: 100px 0 50px;
    }
    .btn {
        font-size: 16px;
        color: var(--primary);
        width: 100px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background-color: none;
        border-radius: 33px;
        border: 1px solid #c9c9c9;
        margin-bottom: 10px;
    }
}
