.galaxy_text h2 {
    font-size: 30px;
    padding: 395px 0 70px 0;
}

.galaxy_text {
    width: 1140px;
    margin: 0 auto;
}

.galaxy_text ul {
    display: flex;
}

.galaxy_text ul li {
    text-align: left;
}

.galaxy_text ul .text_01 {
    width: 220px;
    font-size: 25px;
    color: #5c5c5c;
}

.galaxy_text ul li:nth-child(2) {
    font-size: 20px;
}

.galaxy_text ul:nth-child(3) li {
    padding: 20px 0;
}

.container .prev_img {
    margin: 0 auto;
    text-align: center;
    padding: 200px 0;
}

.galaxy_text ul li:nth-child(2) {
    margin-right: auto;
}
