.product.product_01 {
    padding: 0 40px;
    margin-top: 300px;
    display: flex;
    gap: 100px;
    align-items: center;
}

.product.product_01 .intro p {
    font-size: 26px;
    text-align: right;
}

.career_pdf {
    width: 160px;
    height: 60px;
    background-color: #f8abab;
    margin-left: auto;
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border-radius: 60px;
    border: 5px solid #f8abab;
}

.career_pdf:hover {
    background-color: #fff;
    border: 5px solid #ffc4c4;
    transition: all 0.3s;
}

.product.product_01 .photo_01 {
    width: 400px;
    height: 500px;
    background-image: url(../images/profile_02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
}

/* product_01 end */
.product.product_02 {
    padding: 70px 0 40px 10px;
}

.product.product_02 .career {
    font-size: 20px;
}

.product.product_02 .career_detail {
    margin-bottom: 50px;
    display: flex;
}

.product.product_02 .career_detail .career_years li {
    padding-right: 73px;
    padding-bottom: 28px;
    color: var(--primary);
}

.product.product_02 .career_detail .career_name li {
    padding-bottom: 28px;
    color: var(--second);
}

.career .edu {
    display: flex;
    gap: 73px;
    font-size: 20px;
}

.career .edu p:last-child {
    color: var(--second);
}

.career .hobby p:first-child {
    color: #000;
    padding-right: 23px;
}

.career .hobby {
    display: flex;
    margin-top: 50px;
    gap: 50px;
    color: var(--second);
}

/* product_02 end */

.product_03 {
    position: relative;
    width: 1140px;
    height: 1260px;
    margin: 0 auto;
}

.product_03 .skill_01 {
    display: flex;
    padding: 260px 0 135px 10px;
}

.product_03 .skill_01 > h2 {
    color: var(--second);
    width: 134px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    background-color: rgba(190, 204, 190, 0.6);
}

.skill {
    display: flex;
    width: 100%;
    padding: 30px 50px;
    gap: 20px;
    align-items: center;
}

.skill li {
    height: 60px;
    display: flex;
    align-items: center;
}

.product_03 .skill .skill_title {
    font-size: 25px;
    font-weight: bolder;
    color: var(--second);
}

.skill_per {
    width: 100%;
}

.skill_per li {
    /* 중앙정렬이 안됨 */
}

.skill_per li span {
    display: block;
    border-radius: 14px;
    background-color: #beccbe;
    height: 20px;
    position: relative;
}

.skill_per li:nth-child(1) span {
    width: 50%;
    animation: stack1 4s 1;
    background-color: rgb(240, 116, 116);
}

.skill_per li span {
    color: #4e634e;
    font-weight: 700;
}

.skill_per li:nth-child(1) span::before {
    content: "50%";
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
}
.skill_per li:nth-child(2) span {
    width: 70%;
    animation: stack2 4s 1;
    background-color: skyblue;
}

.skill_per li:nth-child(2) span::before {
    content: "70%";
    position: absolute;
    font-size: 30px;
    right: 0;
    top: -20px;
}
.skill_per li:nth-child(3) span {
    width: 60%;
    animation: stack3 4s 1;
    background-color: rgba(255, 166, 0, 0.596);
}

.skill_per li:nth-child(3) span::before {
    content: "60%";
    position: absolute;
    font-size: 30px;
    right: 0;
    top: -20px;
}
.skill_per li:nth-child(4) span {
    width: 50%;
    animation: stack4 4s 1;
    background-color: rgba(17, 126, 17, 0.445);
}

.skill_per li:nth-child(4) span::before {
    content: "50%";
    position: absolute;
    font-size: 30px;
    right: 0;
    top: -20px;
}

/* skill_02 */

.product_03 .skill_02 {
    display: flex;
}

.product_03 .skill_02 h2 {
    color: var(--second);
    width: 134px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    background-color: rgba(193, 164, 147, 0.6);
}

.product_03 .skill_02 .merit {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 30px 50px;
}

.product_03 .merit .merit_title {
    font-size: 25px;
    font-weight: bolder;
    color: var(--second);
}

.skill_02 li {
    line-height: 60px;
}

.merit_detail {
    display: flex;
    flex-direction: column;
}

.merit_detail li {
    margin-right: auto;
    position: relative;
    font-size: 20px;
    color: var(--primary);
}

.merit_detail li span::after {
    content: "";
    position: absolute;
    top: 58%;
    left: 0;
    width: 100%;
    height: 14px;
    background-color: #c1a493;
    border-radius: 14px;
    z-index: -1;
    opacity: 0.6;
}

@keyframes stack1 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes stack2 {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
@keyframes stack3 {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}
@keyframes stack4 {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}
/* responsive */

/* 
 




*/

@media (max-width: 768px) {
    .intro_box {
        position: relative;
        width: 300px;
        margin: 180px auto;
    }
    .product.product_01 {
        margin: 0 auto;
        padding: initial;
    }

    .product.product_01 .intro p {
        padding-top: 180px;
        padding-bottom: 20px;
        font-size: 15px;
        text-align: center;
        display: flex;
    }

    .career_pdf {
        width: 140px;
        height: 40px;
        background-color: #f8abab;
        margin: 0 auto;
        font-size: 14px;
        text-align: center;
        line-height: 40px;
        border-radius: 60px;
        border: 1px solid #f8abab;
    }
    .product.product_01 .photo_01 {
        position: absolute;
        top: -3%;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 200px;
        border-radius: 150px;
    }

    /* product_01 end */
    .product.product_02 {
    }

    .product.product_02 .career {
        font-size: 13px;
    }

    .product.product_02 .career_detail {
        margin-bottom: 50px;
        display: flex;
    }

    .product.product_02 .career_detail .career_years li {
        padding-right: 40px;
        padding-bottom: 28px;
        color: var(--primary);
    }

    .career .edu {
        display: flex;
        gap: initial;
        font-size: 13px;
    }
    .career .edu p:first-child {
        padding-right: 40px;
    }
    .career .hobby p:first-child {
        padding-right: 40px;
    }

    .career .hobby p {
        padding-right: 5px;
    }

    .career .hobby {
        display: flex;
        margin-top: 50px;
        gap: initial;
        color: var(--second);
    }

    /* product_02 end */

    .product_03 {
        position: relative;
        width: initial;
        height: auto;
    }

    .product_03 .skill_01 {
        display: block;
        padding: 50px 0 80px 10px;
        padding: none;
    }

    .product_03 .skill_01 > h2 {
        color: var(--second);
        width: 60px;
        height: 50px;

        border-radius: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        background-color: rgba(190, 204, 190, 0.6);
    }

    .skill {
        display: flex;
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .skill li {
        height: 40px;
        align-items: center;
    }

    .product_03 .skill .skill_title {
        font-size: 15px;
        font-weight: bolder;
        color: var(--second);
    }

    .skill_per {
    }

    .skill_per li {
        width: 100%;
    }

    .skill_per li span {
        display: block;
        border-radius: 14px;
        background-color: #beccbe;
        height: 10px;
        position: relative;
        width: 100%;
    }

    .skill_per li:nth-child(1) span {
        width: 50%;
    }

    .skill_per li span {
        color: #4e634e;
        font-weight: 700;
    }

    .skill_per li:nth-child(1) span::before {
        content: "50%";
        font-size: 20px;
        position: absolute;
        right: 0;
        top: -20px;
    }
    .skill_per li:nth-child(2) span {
        width: 70%;
    }

    .skill_per li:nth-child(2) span::before {
        content: "70%";
        position: absolute;
        font-size: 20px;
        right: 0;
        top: -20px;
    }
    .skill_per li:nth-child(3) span {
        width: 60%;
    }

    .skill_per li:nth-child(3) span::before {
        content: "60%";
        position: absolute;
        font-size: 20px;
        right: 0;
        top: -20px;
    }
    .skill_per li:nth-child(4) span {
        width: 50%;
    }

    .skill_per li:nth-child(4) span::before {
        content: "50%";
        position: absolute;
        font-size: 20px;
        right: 0;
        top: -20px;
    }

    /* skill_02 */

    .product_03 .skill_02 {
        display: block;
        padding-left: 10px;
    }

    .product_03 .skill_02 > h2 {
        color: var(--second);
        width: 100px;
        height: 50px;
        border-radius: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        background-color: rgba(193, 164, 147, 0.6);
    }

    .product_03 .skill_02 .merit {
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0;
        gap: initial;
    }

    .product_03 .merit .merit_title {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 15px;
        font-weight: bold;
        color: var(--second);
        margin-right: 10px;
    }

    .merit_detail {
        margin-top: 20px;
    }
    .merit_detail li {
        font-size: 12px;
        color: var(--primary);
        width: initial;
        width: auto;
        z-index: 2;
    }

    .merit_detail li span::after {
        content: "";
        position: absolute;
        top: 58%;
        left: 0;
        width: 100%;
        height: 8px;
        background-color: #c1a493;
        border-radius: 14px;
        z-index: -1;
        opacity: 0.6;
    }
}
