.iconmouse {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 30px;
    height: 50px;
    border: 2px solid #88d3ff;
    border-radius: 20px;
    z-index: -1;
}
@keyframes Mouse_act {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}
.iconmouse::before {
    content: "SCROLL!";
    display: block;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -29px;
    width: 60px;
    font-size: 16px;
    color: #88d3ff;
    letter-spacing: 0px;
    font-weight: 600;
}
.iconmouse .ball {
    position: absolute;
    top: 8px;
    left: 11px;
    width: 4px;
    height: 4px;
    background: #88d3ff;
    border-radius: 50%;
    animation: Mouse_act 1s ease-out infinite;
}

.bg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    clip-path: circle(0px at 50% 50%);
}

.bg video {
    width: 100%;
    margin: 0 auto;
}

.title {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    color: rgb(102, 156, 228);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    transition: all 1s;
}

.title.active {
    top: 50%;
    transition: all 1s;
}

.top {
    position: absolute;
}

.body {
    position: relative;
    z-index: 1;
    margin-top: 200vh;
    background-color: #fff;
}

/* 컨테이너 */

.container {
    padding-top: 10px;
}

.thumbnail {
    display: flex;
    margin-top: 200px;
}

.container .thumbnail .thumb_text {
    width: 450px;
    padding-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.container .thumbnail .thumb_text h2 {
    font-size: 30px;
    margin-bottom: 79px;
    font-weight: 300;
    line-height: 1.8;
}

.icons {
    align-items: center;
    gap: 15px;
}

.icons p {
    font-size: 25px;
    align-items: center;
}

.icons i {
    font-size: 30px;
}

.icons a {
    gap: 5px;
    align-items: center;
}

.thumb_img {
    background-image: url(/images/profile.jpg);
    width: 400px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .top {
        position: none;
        margin-bottom: 50px;
    }
    .container .thumbnail {
        display: flex;
        margin-top: 100px;
    }
    .container .thumbnail .thumb_text {
        padding: initial;
        padding-top: 230px;
        text-align: center;
        margin: 0 auto;
    }

    .container .thumbnail .thumb_text h2 {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.8;
        width: 250px;
        margin: 0 auto;
    }
    .thumb_img {
        position: absolute;
        background-image: url(/images/profile.jpg);
        width: 150px;
        height: 180px;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
    .icons {
        margin-top: 80px;
        display: inline-block;
    }

    .icons a p {
        font-size: 10px;
    }
}
