.pub_product {
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.pub_product .pub_detail {
    padding-top: 50px;
    width: 560px;
    color: #222;
    display: flex;
    margin: 0 auto;
    text-align: left;
}
.pub_product .pub_detail h2 {
    margin-bottom: 15px;
}

.pub_btn {
    padding-left: 108px;
}

.pub_product.product_02 img {
    border-radius: 30px;
    border: 1px solid #ddd;
}
.pub_product.product_03 img {
    border-radius: 30px;
    border: 1px solid #ddd;
}
/* responsive */

@media (max-width: 768px) {
    .pub_product {
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .pub_product img {
        width: 300px;
    }

    .pub_product .pub_detail {
        padding-top: 50px;
        width: 300px;
        color: #222;
        display: flex;
        margin: 0 auto;
        text-align: left;
    }

    .text_box {
        font-size: 10px;
    }

    .text_box .pub_product .pub_detail h2 {
        margin-bottom: 15px;
    }

    .pub_detail p {
        font-size: 12px;
    }

    .pub_btn {
        padding: initial;
        margin-left: auto;
    }

    .pub_btn .btn {
        width: 110px !important;
        height: 40px !important;
        font-size: 12px !important;
        line-height: 40px !important;
    }
    .pub_product.product_04 img {
        border-radius: 10px;
        border: 1px solid #ddd;
    }
}
