.container .uxui {
    width: 1140px;
    margin: 0 auto;
}

.ux_01 .eco_img {
    display: flex;
}

.ux_01 .eco_img img {
    width: 90%;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ux_01.first {
    display: flex;
}

.ux_01 .trip_img {
    display: flex;
}

.ux_01 .trip_img img {
    width: 90%;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.ux_01.first i {
    position: absolute;
    font-size: 35px;
    bottom: 10px;
    right: 25%;
}

.ux_01 .img {
    display: flex;
}

.ux_01 .img img {
    width: 800px;
}

.ux_01 {
    display: flex;
    margin-bottom: 305px;
}

.ux_01 .ux_detail h2 {
    font-size: 30px;
    font-weight: bold;
}

.ux_01 .ux_detail p {
    font-size: 25px;
    color: var(--second);
    margin-bottom: 30px;
}

.ux_detail {
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

@media (max-width: 768px) {
    .container .uxui {
        width: 300px;
    }

    .ux_01.first {
        display: block;
        height: 280px;
    }

    .ux_01 .trip_img {
        display: flex;
        width: 300px;
        height: 200px;
        margin: 0 auto;
        gap: 5px;
    }

    .ux_01 .trip_img img {
        width: 100%;
        display: flex;
        border: 1px solid #ddd;
        border-radius: 15px;
    }

    .ux_01.first i {
        position: absolute;
        font-size: 35px;
        bottom: 10px;
        right: 25%;
    }

    .ux_01 .img img {
        width: 300px;
        margin-bottom: 30px;
        display: flex;
    }

    .ux_01 img {
        width: 50px;
    }

    .ux_01 {
        display: initial;
        margin-bottom: 180px;
    }

    .ux_detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ux_01 .ux_detail h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .ux_01 .ux_detail p {
        font-size: 15px;
        color: var(--second);
        margin-bottom: 30px;
    }

    .btns .btn {
        width: 110px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
    }
}
