.inner {
    height: auto;
    background-image: url(/images/main_banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 125px 56px 50px;
}

.inner h2 {
    color: var(--point);
    margin-bottom: 190px;
    font-weight: 400;
}

.login_box input {
    width: 263px;
    height: 50px;
    border-radius: 15px;
    margin: 10px 0;
    padding: 0 10px;
    border: none;
    opacity: 0.8;
}

.login_box input:focus {
    outline: none;
    background-color: #fff;
    opacity: 1;
}

.login_btn p {
    width: 263px;
    height: 62px;
    line-height: 62px;
    background-color: var(--point);
    border-radius: 15px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.login_btn p:hover {
    background-color: #a18585;
    transition: all 0.3s;
}
.login_box p {
    text-align: center;
    margin-bottom: 60px;
    font-size: 13px;
}
.sns {
    display: flex;
    margin-bottom: 5px;
    cursor: pointer;
}
.sns li {
    font-size: 28px;
    padding: 0 20px;
    margin: 0 auto;
}
