@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
@font-face {
    font-family: "yg-jalnan";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --accent: #fef9e0;
    --darkgreen: #576132;
    --olive: #dde1cb;
    --gray: #f2f3ee;
    --pointgreen: #a7bb68;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "yg-jalnan";
    font-family: "Noto Sans KR", sans-serif;
    position: relative;
}

/* 프로덕트는 메인이외에 모든 창에서 툴로 쓰입니다. */
.product {
    width: 375px;
    height: 100vh;
    margin: 0 auto;
}

.container h1,
h2 {
    color: var(--darkgreen);
}

/* 반응형 */
@media (max-width: 767.98px) {
}
